$color1: white;
$color2: #f5f5f5;
$color3: #dae1e7;
$color4: #343a40;
$color5: #6c757d;
$color6: #ff8a00;
$offline-color: #e14d2a;
$online-color: #0fcc45;
$shadow-color: 5px 5px 20px rgba(56, 78, 119, 0.2);
